<h1>Secretaries#sec_problem</h1>
<p>Find me in app/views/secretaries/sec_problem.html.erb</p>

<div>Rank of secretaries</div>
<% @secretaries.each do |secretary| %>
  <div><%= secretary.rank %></div>
<% end %>